<p>
  auto works!
</p>
<form #formAuto="ngForm" (ngSubmit)="submitAuto()">
	<div class="col-lg-6">
		<p>
			<label>Marca</label>
			<input type="text" class="form-control" [ngModelOptions]="{standalone:
   true}" [(ngModel)]="auto.marca" />
		</p>
		<p>
			<label>Modelo</label>
			<input type="text" class="form-control" [ngModelOptions]="{standalone:
   true}" [(ngModel)]="auto.modelo" />
		</p>
		<p>
			<label>Cilindraje</label>
			<input type="text" class="form-control" [ngModelOptions]="{standalone:
   true}" [(ngModel)]="auto.cilindraje" />
		</p>
		<input type="submit" value="Crear auto" class="btn btn-success" />
	</div>
</form>
<hr>
<input type="button" value="boton 2 de prueba" class="btn btn-success" (click)="metodoDos()" />

select
<select [(ngModel)]="selectedValue">
  <option *ngFor="let a of agencias" [ngValue]="a.agencia_id">{{a.nombre}} - {{a.ciudad}}</option>
</select>