<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Miscelanea Angular 5
  </h1>
</div>
<hr>
<a [routerLink]="['/']" >home</a>
<a [routerLink]="['padre']" >Padre</a>
<a [routerLink]="['hijo']" >Hijo</a>
<a [routerLink]="['almacen']" >almacen</a>
<a [routerLink]="['auto']" >auto</a>
<a [routerLink]="['contacto']" >contacto</a>
<br/>
<router-outlet></router-outlet>
<div *ngIf="contactoEmail"><b>Email de contacto: </b>{{contactoEmail}}<div>
<!-- cargar el componente adecuado partiendo de la ruta (request) -->

<hr/>

