<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <!--<img src="assets/images/duke.png" width="17px;" /> -->
    <i class="fab fa-connectdevelop"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fas fa-home"></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['padre']">
          <i class="fas fa-user"></i>
          padre
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['hijo']">
          <i class="fas fa-child"></i>
          hijo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['almacen']">
          <i class="fas fa-warehouse"></i>
          almacen
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['auto']">
          <i class="fas fa-car"></i>
          auto
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contacto']">
          <i class="fas fa-list-alt"></i>
          contacto
        </a>
      </li>
      <li>
        <a class="nav-link" style="cursor:auto;">{{contactoEmail}}</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  </div>
</nav>
</div>
<span>Email de contacto: <span>

<router-outlet></router-outlet>
<a class="nav-link" [routerLink]="['hijo']">
  <span class="halflings halflings-glass"></span>
  hijo
</a>
<!-- <div *ngIf="contactoEmail"><b>Email de contacto: </b>{{contactoEmail}}<div> -->
<!-- cargar el componente adecuado partiendo de la ruta (request) -->

<hr/>

<div class="container">
      <!-- display 4 class makes the font size increase -->
  <h1 class="display-4"><i class="fab fa-stack-overflow"></i></h1>
  <button type="button" class="btn btn-primary">Works also with buttons! <i class="fas fa-link"></i></button>
</div>