<p>
  padre component!
</p>

Parámetro 1
<input type="text" [(ngModel)]="parametro1"  />
<br/>
Parámetro 2
<input type="text" [(ngModel)]="textoInput"  />

<hr/>

<!-- valida la variable y genera un flag para disparar el evento 'ngOnDestroy' del componente hijo -->
<p *ngIf="parametro1"> 
	<app-hijo 	[change_name] = "parametro1" 
				[parametroRecibido_2] = "textoInput"
				(pasarDatosAlPadre) = "verDatosDesdeHijo($event)" 
				></app-hijo>
				<!-- $event contiene el json enviado desde el metodo 'pasarDatosAlPadre' -->
</p>
<br/>
<div *ngIf="clienteRecibido" >
	<ul>
		<li>{{clienteRecibido.nombres}}</li>
		<li>{{clienteRecibido.email}}</li>
		<li>{{clienteRecibido.telefono}}</li>
	</ul>
</div>