.jumbotron{
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 1px 2px 4px #ccc;
}
.nav-item .active{
	/*background: blue;*/
	border-bottom: 3px solid orange;
}

.navbar>div>ul>li>a:hover{
	/*background: blue;*/
	transition:all 300ms;
	border-bottom: 1px solid #AAA2A1;
}

.animacion-custome{
	animation-name: deslizando;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes deslizando{
	0%{
		height: 20px;
		background-color: red;
	}
	50%{
		height: 800px;
		background-color: blue;
	}
	100%{
		height: 800px;
		background-color: #e9ecef;
	}
	/*from{
		height: 20px;
		background-color: red;
	}
	to{
		height: 800px;
		background-color: #e9ecef;
	}*/
}

._back-gray{
	background-color: rgba(200, 200, 200, 0.2);
	height: 34px;
	cursor: pointer;
}
/*--------------------------------------*/
.tab{
	animation-name: focus_tab;
	animation-duration: 3s;
	animation-iteration-count: initial;
}
@keyframes focus_tab{
	0%{
		width: 20px;
		background-color: red;
	}
	50%{
		width: 800px;
		background-color: blue;
	}
	100%{
		width: 800px;
		background-color: #e9ecef;
	}
}
/*----------------------------------------*/
.tab{
	width: 250px;
    transform: translate3d(508px, 0px, 0px);
    transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
    background-color: #f44336;
    box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    /*position: absolute;*/
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;

    font-weight: 500;

}

.inactive{

}