<router-outlet></router-outlet>
<!-- <div class="animacion-custome">
</div> -->
<div>
	<div class="jumbotron jumbotron-fluid animacion-custome" >
	  <div class="container">
	  	<div>
	  		<Button id="buttonJQuery">Botón con JQuery</Button>
	  		<p id="p_from_JQuery"></p>
	  	</div>
	    <h1>Training Angular!!!</h1> 
	    <p>
	    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat arcu, euismod nec tristique nec, dapibus et mauris. Duis mollis sem erat, vitae porttitor orci aliquet et. Aenean lobortis gravida lorem at dictum. Nullam lacinia mauris urna, non fermentum sem iaculis vitae. Sed ultricies magna sem, et lobortis mauris lobortis at. Nulla a dignissim dui, ac tempor libero. In turpis dui, pharetra at elit a, tincidunt euismod ex. Nunc cursus massa vel ex egestas lobortis. Ut consectetur maximus orci, eu vehicula ipsum pretium non. Duis sed volutpat est. Praesent ut risus varius, tempor lacus sed, vestibulum felis.

			Cras vitae sapien ut neque accumsan rhoncus. Nullam sodales ante in nisi accumsan tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vitae mauris ullamcorper, luctus enim quis, fringilla mauris. Donec pharetra iaculis sodales. Fusce rhoncus diam sed dictum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam bibendum iaculis dolor quis placerat.

			Nulla viverra, enim eget commodo faucibus, augue sem viverra magna, eu sagittis eros nisl a diam. Nullam feugiat viverra urna sit amet eleifend. Integer id orci gravida, dapibus magna eget, tincidunt sem. Fusce justo dolor, sagittis eu sollicitudin ut, rutrum eu ante. Etiam massa dui, volutpat consequat neque sit amet, bibendum vehicula nulla. Aliquam laoreet tempus massa malesuada vulputate. Phasellus ultrices tortor id vulputate ornare. Quisque laoreet leo dui, in hendrerit arcu viverra ac. Vestibulum iaculis lectus et pellentesque rutrum. Quisque lobortis elit mauris, at varius risus tincidunt tristique. Mauris id viverra diam.

			Aenean diam metus, sagittis eget malesuada eu, consequat vitae sem. Cras quis rhoncus arcu. Praesent vitae odio quis neque suscipit elementum vitae a quam. Quisque a augue volutpat, commodo erat sed, consequat ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla faucibus, sapien vel pellentesque vehicula, lectus lectus porttitor neque, sit amet posuere tortor nisi et nulla. Nunc semper massa non condimentum fringilla. Nullam vel eros mi.
	    </p> 
	  </div>
	</div>
</div>
